
        .container{
            padding: 50px 0;
        }
        .card{
            width: 24rem;
            padding: 1rem;
        }
        .card p{
            font-size: 20px;
        }
        input[type="number"], input[type="color"]{
            width: 100px;
        }
        .card img{
            width: 50%;
            margin: 0 auto;
        }
