body{
	padding:0;
	margin:0;
	font-family: Tahoma;	
}
a{
	text-decoration:none;
	color:white;
	margin-right:50px;
}
.menu{

	height: 80px;
	display:flex;
	align-items:center;
	justify-content: space-between;
	background: linear-gradient(#ffbb00, #ffbb00);
}
.menu>img{
	margin-left:50px;
	height:80px;
}
nav>a:hover{
	color:blue
}
.banner{
    display:flex;	
    height:441px;
	background-color:lightgray;
	justify-content: center;
}
.banner>img{
	height:441px;
	width:847px;
}
p{
	font-family:Tenali Ramakrishna;
	font-size:20px;
}
li{
	font-size:35px;
}
ol{
	margin-left:75px;
}
.main{
	font-family: 'Balsamiq Sans', cursive;
}
li>p{
	font-size:15px;
	font-family: 'Balsamiq Sans', cursive;
}
footer{
	display: flex;
	justify-content: space-around;
	padding:13px 5px;
	font-size: 15px;
	font-family: Tahoma;
	background: lightgray;
	align-items:center;
}
.inst{
	height:50px;
}
.git{
	height:50px;
}
.fb{
	height:50px;
}
.main1>img{
	height:500px;
}
.main1{
	display:flex;
	color:black;
}
.books{
	width:75%;
}
.aside{
	width:25%;
	border-left: 2px solid black;
}
#photo{
	width: 22%;
	padding-left: 1.5%;
	transition: transform 0.5s ease;
}
#photo:hover{
	transform: scale(1.1);
}
.search{
	display:flex;
	height:300px;
	align-items:flex-end;
	margin-left:100px;
}
input[type='text']{
	width:300px;
	height:30px;
	border: 2px solid black;
	margin-right:30px;
	padding-left:10px;
}
input[type='submit']{
	height:40px;
	width:150px;
	background-color:blue;
	color:white;
	border:none;
}
input[type='submit']:hover{
	background-color:red;
}
.knopku{
	margin-top:100px;
}
.aside2{
	margin-left:10px;
}
.ramka{
	border-left:2px solid black;
	border-right:2px solid black;
	padding:0px 20px;
}
