<div class="login">
    <div class="login_header d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="text-left">Login Options</h1>

            <div class="sign-in-form">
                <h5 class="text-center">
                    <span v-if="signIn == true">Sign-in</span>
                    <span v-if="signIn == false">Sign-up</span>
                </h2>
                <div class="mb-3">
                    <label class="form-label">Email address</label>
                    <input type="email" class="form-control" placeholder="name@example.com" id='user-email' required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" placeholder="type your password" id='user-password' required>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary w-100 py-2 mb-2" @click="signInWithPassword">
                        <span>Sing In</span>
                    </button>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary w-100 py-2" @click="signUpWithPassword">
                        <span>Sing Up</span>
                    </button>
                </div>
                <p class="text-center">OR</p>
            </div> 
            
            <div class="mt-4">
                <button class="btn btn-lg btn-light d-flex align-items-center "
                @click='googleAuth' 
                >
                    <img src="./images/google_logo.svg"  alt="">
                    Continue with Google
                </button>
            </div>
        </div>
    </div>
</div>