<div class="login">
    <div class="login_header d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="text-center">Login Options</h1>
            
            <div class="mt-4">
                <button class="btn btn-lg btn-light d-flex align-items-center "
                @click='googleAuth' 
                >
                    <img src="./images/google_logo.svg"  alt="">
                    Continue with Google
                </button>
            </div>
        </div>
    </div>
</div>