<div class="myorders">
    <h1 class="text-center">My orders</h1>

    <div class="d-flex flex-wrap justify-content-around mt-5" v-if="$root.myOrders.length > 0">
      <table class="table">
        <thead>
          <tr class="text-center">
            <th scope="col">№</th>
            <th scope="col">Products</th>
            <th scope="col" style="min-width:100px">Total Price</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
            <tr v-for="(orderData, idx) in $root.myOrders" class="text-center">
              <th scope="row">{{ idx + 1 }}</th>
              <th scope="row" class="d-flex flex-wrap justify-content-around">
                
                <p class="text-center mx-2" v-for="product in orderData.order.products">
                  <img :src="product.url" height="100">
                  <br>
                  <span style="display:block; max-width: 180px; text-overflow: ellipsis;
                    overflow: hidden;
                    height: 70px;
                  ">{{product.name}} ({{product.count}})
                </span>
                  <br>
                  ${{product.price}}
                </p>
  
              </th>
              <th scope="row"> ${{ orderData.order.sum }}</th>
              <th scope="row">
                <span 
                class="badge p-2 text-uppercase"
                :class="{ 
                  'bg-warning': orderData.status == 'pending', 
                  'bg-primary': orderData.status == 'sended',
                  'bg-success': orderData.status == 'done',
                  'bg-danger': orderData.status == 'failed',
                }"
                style="width: 80px"
                >
                {{ orderData.status }}
              </span>
              </th>
            </tr>
          </tbody>
      </table>
    </div>
</div>