.login_header{
    margin-top: 30px;
}
.login_header h1{
    font-size: 2rem; 
}
.login button img{
    margin-right: 10px;
} 
.login button{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding-left: 50px;
    padding-right: 50px;
} 