footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    background: black;
    padding: 100px 6vw;
    box-sizing: border-box;
}
.footer_menu{
    display: flex;
    justify-content: space-between;
    width: 320px;
}
.menu_box a{
    display: block;
    text-decoration: none;
    color: white;
    margin: 15px 0;
}
.footer_rights h2{
    font-size: 2.2rem;
    margin-top: 5px;
}