main{
	background:url("divback.png") #e8f0e5;
	background-size:50%;
	background-repeat:no-repeat;
	width: 98%;
	background-position: 95%;
	height: 400px;
}
a{
	text-decoration: none;
	color: black;
	font-size: 24px;
}
.active{
	border-bottom: 2px solid black;
}
nav>a:hover{
	border-bottom: 2px solid black;
}
.logo{
	margin: 0px 0px 100px;
	font-size: 65px;
}
.text{
	width: 50%;
	float: left;
	height: 100%;
}
.button{
	padding: 5px 15px;
	background-color: black;
	border-radius: 50px;
	color: white;
	border: none;
	font-size: 40px;
}
.btn{
	margin-top: 50px;
}
.button:hover{
	box-shadow: 0 0 10px black;
}
article{
	background: linear-gradient(to right, gray, black);
	height: 400px;
}
body{
	margin: 0;
	padding: 0;
}
.one{
	width: 40%;
	float: left;
	height: 100%;
}
.two{
	width: 60%;
	float: left;
	height: 100%;
	color: white;
}




