
.username{
    background: navy;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    font-size: 30px;
    border-radius: 50%;
}
.userlogo_box{
    padding-top: 10px;
    padding-left: 20px;
}
.card{
    width: 100%;
    padding: 1rem;
}
