body{
	background-color:black;
	position: relative;
}

#box{
	width: 100px;
	height: 100px;
	background: lime;
	position: absolute;
}

#box2{
	width: 100px;
	height: 100px;
	background: red;
	position: absolute;
}