body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
h2{
	font-size: 30px;
}
table{
	border-spacing: 0px;
	width: 800px;
	margin: 50px auto;
}
tr:nth-child(2n){
	background: rgba(135, 138, 137, 0.1)
}
th, td{
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-rigth: 1px solid gray;
	padding: 4px 8px;
}
th{
	padding: 18px 8px;
}
td:last-child, th:last-child {
	border-right: 1px solid gray;
}
tr:last-child td {
	border-bottom: 1px solid gray;
}
.icon{
	max-width: 30px;
	max-height: 40px;
}
.centered{
	text-align:center;
}

.links{
	display: flex;
	max-width: 1000px;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
}
.links > a {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 10px;
	background: #5b5c5a;
	text-decoration: none;
	margin: 2px;
	border-radius: 8px;
	font-weight: 800;
	color: white;
	transition: opacity 0.5s; 
}
.links > a:hover {
	opacity: 0.8;
}

.links > .active_link{
	background: #7fcf30;
	color: navy
}